<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/exam.css">
  <link id="theme-style" rel="stylesheet" href="/css/navbar.css">
  <link id="theme-style" rel="stylesheet" href="/css/footer.css">

</head>

<body onload="navbar_changer('Exams');">
  <%- include('navbar.ejs') %>
    <section class="app-wrapper">
      <div class="contaner-fluid">

        <div class="action-btn my-3">
          <div class="create-exam-button">
            <a type="button" class="btn btn-success" onclick="showAddExamModal()">Create Exam</a>
          </div>
        </div>
        <div class="modal fade" id="question-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog mx-0 mx-sm-auto">
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="exampleModalLabel">Add New Exam</h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"
                  onclick="disableAddExamModal()"></button>
              </div>
              <div class="modal-body">
                <form method="POST" action="/exams/createExam">
                  <div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="examname">Exam Name:</label>
                      <div class="form-text mb-2">
                        <input class="form-control form-control-sm" type="text" name="examname" id="examname"
                          autocomplete="off" onkeyup="validateExamTitle()">
                      </div>
                      <small class="warn" id="examname-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="examcode">Exam Access Code:</label>
                      <div class="form-text mb-2">
                        <input class="form-control form-control-sm" type="text" name="examcode" id="examcode"
                          autocomplete="off" onkeyup="validateExamAccessCode()">
                      </div>
                      <small class="warn" id="examcode-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="totalque">Total Questions:</label>
                      <div class="form-text mb-2">
                        <input class="form-control form-control-sm" type="number" min="1" name="totalque" id="totalque"
                          autocomplete="off" onkeyup="validateExamQuestion()">
                      </div>
                      <small class="warn" id="totalque-err"></small>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="duration">Duration Of Exam:</label>
                      <div class="form-text mb-2">
                        <input class="form-control form-control-sm" type="number" min="10" name="duration" id="duration"
                          autocomplete="off" onkeyup="validateExamDuration()">
                      </div>
                      <small class="warn" id="duration-err"></small>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="create-exam-btn" disabled>Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="user-table warpper m-2">


          <table class="table table-bordered table-hover" id="exam_table" border="1">
            <thead>
              <tr>
                <th>No</th>
                <th scope="col">Exam Title</th>
                <th scope="col">Access Code</th>
                <th scope="col">Total Question</th>
                <th scope="col">CreateDate</th>
                <th scope="col">Status</th>
                <th scope="col">Result</th>
                <th scope="col">View Questions</th>
              </tr>
            </thead>
            <tbody id="table">
              <% for(i=0; i<data.length; i++) {%>
                <% if(data[i]){%>
                  <tr>
                    <td>
                      <%= data[i].exam_id%>
                    </td>
                    <td>
                      <%= data[i].exam_name %>
                    </td>
                    <td>
                      <%= data[i].exam_access_code %>
                    </td>
                    <td>
                      <%= data[i].exam_total_question %>
                    </td>
                    <td>
                      <%= data[i].createdDate %>
                    </td>
                    <td>
                      <div class="form-check form-switch">
                        <input class="form-check-input switch" type="checkbox" role="switch"
                          onchange="toggleSwitch('<%=data[i].exam_id%>')" <% if(data[i].exam_isActive=='yes' ) {%>
                        checked id="flexSwitchCheckDefault">
                        <%}%>
                      </div>
                    </td>
                    <td>
                      <a href="/result/student/?examId=<%=data[i].exam_id%>"> View Result</a>
                    </td>
                    <td>
                      <a href="/exams/displaySelectQuestion/?exam_id=<%=data[i].exam_id%>" id="<%=data[i].exam_id%>"
                        class="<% 
                  if(count[i]>0){%>
                    text-success
                  <%}else{%>
                    text-danger
                  <%}%>">
                        View Question
                      </a>
                    </td>
                  </tr>
                  <%}%>
                    <% }%>
            </tbody>
          </table>
        </div>

        <div class="user-exam-pagination-bar w- d-flex justify-content-between mx-2">

          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>

              <% for(let i=1; i<=count; i++){ %>

                <li class="page-item" id="list<%= i %>">
                  <p class="page-link"
                    onclick="examID(`/dashboard/exams?page=<%= i%>&column_name=<%= column_name %>&&AJAX=true`)">
                    <%= i %>
                  </p>
                </li>

                <% } %>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
        <%- include('footer.ejs') %>

      </div>
    </section>

</body>


<script>
  async function examID(id) {
    console.log("exam id", id);

    var exam_id = await fetch(id);
    var exam_data = await exam_id.json();
    console.log("exam data", exam_data);
    var exam_table_string = "";

    var exam_table = document.getElementById('exam_table');

    exam_table_string += `
          <thead>
            <tr>
              <th>No</th>
              <th scope="col">Exam Title</th>
              <th scope="col">Access Code</th>
              <th scope="col">Total Question</th>
              <th scope="col">CreateDate</th>
              <th scope="col">Status</th>
              <th scope="col">Result</th>
              <th scope="col">View Questions</th>
            </tr>
          </thead>
          `;

    for (let i = 0; i < exam_data.length; i++) {
      exam_table_string += `
              <tbody id="table">
            
              <tr>
                <td>
                  ${exam_data[i].exam_id}
                </td>
                <td>
                   ${exam_data[i].exam_name}
                </td>
                <td>
                  ${exam_data[i].exam_access_code}
                </td>
                <td>
                  ${exam_data[i].exam_total_question}
                </td>
                <td>
                  ${exam_data[i].createdDate} 
                </td>
                <td>

                  <div class="form-check form-switch">
                    <input class="form-check-input switch" type="checkbox" role="switch"
                      onchange="toggleSwitch('${exam_data[i].exam_id}')" id="flexSwitchCheckDefault" >`;

      if (exam_data[i].exam_isActive == 'yes') {

        document.getElementById('flexSwitchCheckDefault').value = "checked";
      }

      exam_table_string += `
                  </div>
                </td>
                <td>
                  <a href="/result/student/?exam_id=${exam_data[i].exam_id}"> View Result</a>
                </td>
                <td>
                  <a href="/exams/displaySelectQuestion/?exam_id=${exam_data[i].exam_id}" id="${exam_data[i].exam_id}" 
                  class="<%
                  if(count[i]>0){%>
                    text-success
                  <%}else{%>
                    text-danger
                  <%}%>">
                    View Question
                  </a>
                </td>
                  
              </tr>
              
          </tbody>           
              `;

      exam_table.innerHTML = exam_table_string;
    }

  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">

  </script>


<script src="/js/exam.js"></script>
<script src="/js/create-exam.js"></script>
<script src="/js/navbar.js"></script>



</html>