<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/exam.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/search-bar.css">

</head>

<body>
  <section>


    <div class="contaner-fluid">

      <div class="action-btn">
        <div class="search-input d-flex justify-content-center">
          <label for="exam-search-label">Search</label>
          <input type="text" class="form-control" id="search" oninput="search(this.value)">
        </div>
      </div>

      <div class="user-table warpper m-2">


<<<<<<< HEAD
        <table  id = "myTable" class="table table-bordered" border="1">
=======
        <table class="table table-bordered" border="1">
>>>>>>> e26a1ce2da2563eadb481d6463ba548758874fa4
          <thead>
            <tr>
              <th>No</th>
              <th scope="col">Exam Title</th>
              <th scope="col">Access Code</th>
              <th scope="col">Total Question</th>
              <th scope="col">CreateDate</th>
              <th scope="col">Status</th>
            </tr>
          </thead>

          <% for(i=0; i<data.length; i++) {%>
            <tr>
              <td> <%= (i+1)%></td>
              <td>
<<<<<<< HEAD
                <%=data[i].exam_name%>
=======
                <%= (i+1)%>
              </td>
              <td>
                <%= data[i].exam_name %>
>>>>>>> e26a1ce2da2563eadb481d6463ba548758874fa4
              </td>
              <td>
                <%= data[i].exam_access_code %>
              </td>
              <td>
                <%= data[i].exam_total_question %>
              </td>
              <td>
<<<<<<< HEAD
                <%= data[i].creadtedDate%>
                  <%= data[i].exam_name %>
              </td>
              <td>
                <%= data[i].exam_access_code %>
              </td>
              <td>
                <%= data[i].exam_total_question %>
              </td>
              <td>
=======
>>>>>>> e26a1ce2da2563eadb481d6463ba548758874fa4
                <%= data[i].createdDate %>
              </td>

              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input switch" type="checkbox" role="switch"
<<<<<<< HEAD
                    onchange="toogleSwitch('<%=data[i].exam_id%>')"
                    <% if(data[i].exam_isActive=='yes' ) {%>
                  checked id="flexSwitchCheckDefault">
                  <%}%>
=======
                    onchange="toggleSwitch('<%=data[i].exam_id%>')" 
                    <% if(data[i].exam_isActive=='yes' ) {%> 
                      checked id="flexSwitchCheckDefault">
                      <%}%>
>>>>>>> e26a1ce2da2563eadb481d6463ba548758874fa4
                </div>
              </td>
            </tr>
            <% }%>

        </table>

      </div>
      <%- include('pagination-tab.ejs') %>
    </div>
    <%- include('footer.ejs') %>
  </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">

  </script>

<script>

  async function toogleSwitch(exam_id) {

    const toogleRequest = await fetch(`/exam/update/?id=${exam_id}`)

<<<<<<< HEAD
  } 

=======
  async function toggleSwitch(exam_id) {

    const toggleRequest =await fetch(`/exam/update/?id=${exam_id}`)
  }
>>>>>>> e26a1ce2da2563eadb481d6463ba548758874fa4


  async function search(tag){
    var searching = document.getElementById("search").value;
    var res = await fetch(`/student/?search=${searching}`);
    var data = await res.json();
    var table = document.getElementById("myTable");
    table.innerHTML= "";
    var html = `<thead>
            <tr>
              <th>No</th>
              <th scope="col">Exam Title</th>
              <th scope="col">Access Code</th>
              <th scope="col">Total Question</th>
              <th scope="col">CreateDate</th>
              <th scope="col">Status</th>
            </tr>
          </thead>`;

<<<<<<< HEAD
          data.searchfname.forEach(e => {
            html += `<tr>
            
              <td>
                ${e.exam_name}
              </td>
              <td>
                ${e.exam_access_code}
              </td>
              <td>
                ${e.exam_total_question}
              </td>
              <td>
                ${e.creadtedDate}
                  ${e.exam_name}
              </td>
              <td>
                ${e.exam_access_code}
              </td>
              <td>
                ${e.exam_total_question}
              </td>
              <td>
                ${ e.createdDate }
              </td>

              <td>
                
              </td>
            </tr>  `;
            
          });
          table.innerHTML = html;

  }

=======
>>>>>>> e26a1ce2da2563eadb481d6463ba548758874fa4
</script>


</html>