<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/exam.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/search-bar.css">

</head>

<body>


    <h1>Search here</h1>
    <form action="search">
        <input type="exam" name="title " placeholder="search exam">
        <input type="access" name="code" placeholder="access code">
        <input type="submit" value="Search">
    </form>

  <section>


    <div class="contaner-fluid">


      <div class="user-table warpper m-2">



        <table  id = "myTable" class="table table-bordered" border="1">
          <thead>
            <tr>
              <th>No</th>
              <th scope="col">Exam Title</th>
              <th scope="col">Access Code</th>
              <th scope="col">Total Question</th>
              <th scope="col">CreateDate</th>
              <th scope="col">Status</th>
            </tr>
          </thead>

          <% if(student.length > 0){ %> 
        
        

          <% for(i=0; i<data.length; i++) {%>
            <tr>
              <td> <%= (i+1)%></td>
              <td>
                <%=data[i].exam_name%>
              </td>
              <td>
                <%= data[i].exam_access_code%>
              </td>
              <td>
                <%= data[i].exam_total_question%>
              </td>
              <td>
                <%= data[i].creadtedDate%>
                  <%= data[i].exam_name %>
              </td>
              <td>
                <%= data[i].exam_access_code %>
              </td>
              <td>
                <%= data[i].exam_total_question %>
              </td>
              <td>
                <%= data[i].createdDate %>
              </td>

            </tr>
            <% }%>

            <% } else { %>

                <tr>
                    <td>data not found </td>
                </tr>
            
            }
            <% } %}
            
        </table>

      </div>
      <%- include('pagination-tab.ejs') %>
    </div>
    <%- include('footer.ejs') %>
  </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">

  </script>

<script>

  async function toogleSwitch(exam_id) {

    const toogleRequest = await fetch(`/exam/update/?id=${exam_id}`)

  } 
</script>

<script>

  

</script>


</html>