<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/search-bar.css">
  <link id="theme-style" rel="stylesheet" href="/css/navbar.css">

</head>

<body onload="navbar_changer('Students');">
  <%- include('navbar.ejs') %>
  <section class="app-wrapper">
    <div class="contaner-fluid">
      <div class="action-btn">
        <div class="search-input d-flex justify-content-center">
          <label for="exam-search-label">Search</label>
          <input type="text" id="search" class="form-control" oninput="Search(this.value)">
         
        </div>
      </div>

      <div class="user-table warpper m-2">

        <table class="table table-hover " id="studenttable" border="1">
          <thead>
            <tr>
              <th>No</th>
              <th scope="col">Student Name</th>
              <th scope="col">Total Marks</th>
              <th scope="col">Marks</th>
              <th scope="col">status</th>
             
            </tr>
          </thead>

          <tbody id="table">
           
            <% for(i=0; i<data.length; i++) {%>
            
              <tr>
                <td>
                  <%= (i+1)%>
                </td>
                <td>
                  <%= data[i].fname%>
                </td>
                
                <td>
                  <%= data[i].exam_total_question%>
                </td>
                <td>
                  <%= data[i].exam_result%>
                </td>
                <td>
                    
                   <%= status[i] %>

                </td>
              </tr>
              <% }%>
          </tbody>



        </table>
      </div>
      <%- include('pagination-tab.ejs') %>

    </div>
  <%- include('footer.ejs') %>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
   <script src="/js/navbar.js"></script>


</html>